{
    "openapi": "3.0.1",
    "info": {
        "title": "Demo API",
        "description": "Demo API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://gab2022api.azure-api.net/demo-api"
        }
    ],
    "paths": {
        "/crm/v3/objects/contacts/{contactId}": {
            "get": {
                "summary": "Get Contact Details",
                "description": "Get Contact Details",
                "operationId": "get-contact-details",
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Contact ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            },
            "patch": {
                "summary": "Set Certification Id",
                "description": "Patch",
                "operationId": "set-certification-id",
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Contact - ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        },
        "/search": {
            "get": {
                "summary": "Search",
                "operationId": "search",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": null
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}